.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 70%;
    border: 1px solid green;
    border-radius: 20px;
    margin: 20px auto;

}
.navbar-heading{
    color:red;
}